.main{
    background-color: #b0faff;
  }
.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e7ffd6;
    padding: 20px;
    width: 100%;
}
.eskiler{
    margin-bottom: 20px;
}
#display{
    width: 100%;
}
#slider{
    width: 100%;
}
#length{
    display: inline-block;
    width: 100px;
}


